<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Question Updated</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<body>
	<script>
	Swal.fire({
		  position: 'top-end',
		  icon: 'success',
		  title: 'Congratulations! Question Updated Successfully!',
		  showConfirmButton: false,
		  timer: 1500
		}).then(function() {
			window.location = history.back();
		});
	</script>
</body>
</html>